body {
	font-family: Raleway;
}

header {
	position: fixed;
	top: 0;
	min-height: 79px;
	padding: 0 20px;
	display: flex;
	align-items: center;
}

div {
	position: static;
}

.logo {
	width: 900px;

}

.logo img {
	align-items: center;
	text-align: center;
	height: 100%;
	display: flex;
	max-width: 320px;
}

nav ul {
	display: flex;
	width: 400px;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 0px;

}

#Email-input {
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-top: 80px;
	height: 179px;
	justify-content: center;
	font-weight: 300;
	margin-bottom: 0px;
}

h1 {
	margin-bottom: 10px;
}

input[type="email"],
input[type="submit"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 1px;
  box-shadow: none;
  box-sizing: border-box;
  width: 250px;
  opacity: 0.5;
}

input[type="submit"] {
  height: 38px;
  padding: 6px 10px;
  background-color: #cdcdcd;
  box-shadow: none;
  box-sizing: border-box;
  width: 100px;
  opacity: 0.5;
}

.body-con {
	margin: 0 auto;
	width: 100%;
	max-width: 1000px;
}


#features .icon-con {

	color: #cdcdcd;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;

}

.feat {
	width: 50px;
}

#features .captions {

	width: 1000px;
}

#how-it-works {
	margin-top: 40px;
}

#pricing {
	margin-top: 40px;
	display: flex;
	flex-direction: row;
}

li {
	list-style: none;
}

ul {
	-webkit-padding-start: 0px;
}

#starter, #Pro, #Enterprise {
	justify-content: center;
	padding: 0 50px;
	border-right: 1px solid #ebebeb;
}


#Enterprise {
	border-right: 0px;
}


button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 0px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }

button:hover,
button:focus, {
  color: #333;
  border-color: #888;
  outline: 0; }


button {
  margin-top: 20px;
  color: #FFF;
  background-color: #f92b49;
}


#footer {
	margin-top: 30px;
	background-color: #ebebeb;
	padding: 50px 200px;
	padding-right: 50px;
}

#footer-details {
	display: flex;
	justify-content: flex-end;
}

.foot {
	padding: 0 20px;
}

span {
	display: flex;
	justify-content: flex-end;

}

a {
	text-decoration: none;
	color: #f92b49
}